/* **************************************************
	theme files

	************************************************ */
	
//  COLOUR

//  -- site 
$green    : #5bb434;
$dark-green  : #0c8422;
$yellow		:#e8f299;
$gray			:#888685;



//  FONTS
$font-primary	: Arial;
$font-secondary	: serif;
//  -- imported 

