/* **************************************************
	Modules

	************************************************ */

// slide

.showcase{
    background:$green;
    display:block;
    overflow: hidden;
    padding:{
        top:3%;
        right:5%;
        left:5%;
        bottom:3%;
    }
    img{
        display:none
    }

    .rg-caption {
        color: #E8F299;
        font-size: 1.6rem;
        line-height: 110%;
        min-height: 130px;
        padding-top: 20px;
    }
}

.rg-image-nav-next, .rg-image-nav-prev {
    background: none repeat scroll 0 0 $dark-green;
    color: #FFFFFF;
    padding: 5px;
}

//logo

.logo {
    background: none repeat scroll 0 0 #FFF;
    display: block;
    padding: 10% 10% 5% 20%;
    width: 100%;
    img{
        text-align: center;
        width: 60%;
    }
}

//menu
.menu {
    background: $gray;
    color: #CCCCCC;
    padding:5px
}

// article
section, .section{
    .article {
        margin: 3%;
        padding: 10px;
    }
}

.note-board {
    background: none repeat scroll 0 0 #F4F4F4;
    @include border-radius(4px, 4px);
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    i{
        color: #5BB434;
    }
    p {
        clear: both;
        display: block;
        font-size: 0.9rem;
        padding: 15px 5px;
    }
}
.btn {
    background: none repeat scroll 0 0 #5BB434;
    color: #FFFFFF;
    padding: 0px 5px;
    font-weight: normal;
    @include border-radius(4px, 4px);
    &:hover{
        background: none repeat scroll 0 0 $dark-green;
    }
}

.block {
    border-top: 1px solid $dark-green;
    .block-title{
        margin-top: -12px;
        text-align: center;
        span{
            background: none repeat scroll 0 0 #FFFFFF;
            padding: 10px;
        }
     }
     img{
        display:none;
     }
    p{
        font-size: 0.8rem;
        padding: 10px 0;
    }
    .rg-image-nav-pre{
        padding-right:10px
    }
}

// border radius for buttons
.rg-image-nav-next, .rg-image-nav-prev {
    @include border-radius(4px, 4px);
}

.sticky-footer{
    color:#666563;
    .block-menu {
        padding: 10px;
    }
    li{
        padding:0px 10px;
        a{
            color:#000;
            font-size: .8rem;
            &:hover{
                color: #F4F4F4;
            }
        }
    }
}